html{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
header{
    background-color: black;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left:10px;
    height: 50px;
}
.menu{
    text-decoration: underline;
    display: inline-flex;
    margin: 10px;
}
.menu p{
    margin: 0 10px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 69px;
    margin: 0 20px;
}

.mission{
    width: 1200px;
    height: 700px;
    background-color:  #cccccc;
    background-image: url("../Tea\ cozy/imgaes/img-mission-background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.mission_text{
    background-color: black;
    width: 1200px;
    margin 0 0;
}
.mission_text h4, h2{
    margin: 10px 0;
}.monthly{
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.monthly_text{
    width: 1000px;
}
.first_row{
    display: flex;
    justify-content: space-between;
}
.second_row{
    display: flex;
    justify-content: center;
}
.photo{
    max-width: 300px;
    max-height: 200px;
    margin-bottom: 10px;
}
.monthly_tea h4{
    margin: 0;
}
.monthly_tea{
    margin: 0px 10px 20px 10px;
}
.locations{
    height: 500px;
    width: 1200px;
    background-image: url("../Tea\ cozy/imgaes/img-locations-background.webp");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.location{
    width: 300px;
    background-color: black;
    margin: 15px 20px;
}
.locations h2{
    width: 1200px;
    margin-bottom: 0;
}